
header{
    background: #BBBBBB;
    padding: 20px 0 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin:0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.principal{

    margin-top: 30px;
    background:#CCCCCC;
    padding: 30px;
}

.principal h2{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.principal strong{
    font-weight: bold;
}

p{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#missao{
    font-size: 20px;
}
em{
    font-style: italic;
}
em strong{
    font-weight: bold;
    color: #FF0000;
}

.beneficios{
    background: #FFF;
    padding: 20px;
    width: 940px;
    margin:0 auto;
    
}

.beneficios h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.beneficios ul{
    display: inline-block;
    vertical-align: top;
    padding: 40px;    
}

.itens{
    padding: 30px;
    font-style: italic;
    font-size: 18px;
}



.imagem_beneficios{
    width: 50%;
    padding: 40px;
}

footer {
    text-align: center;
    background: url("../image/prod_img/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}